@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.special {
    color: #8a3cfd;
}

#mobile {
    display: none;
}

.container {
    margin: 30px;
}

.card {
    position: fixed;
    z-index: 1;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 50px 10px;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 70px);
        height: calc(100% - 50px);
        padding: 30px;
        margin: 5px;
    }
}

@media screen and (max-width: 480px) {

    #mobile {
        display: block;
    }

    #pc {
        display: none;
    }

    .card {
        width: calc(100% - 70px);
        height: calc(100% - 50px);
        padding: 20px;
        margin: 2px;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .logo-img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
    }
    
    .title {
        padding-left: 5px;
    }
    
    .desc {
        padding: 30px 0;
    }
    
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-250px * 7));
        }
      }
      .slider {
        background: transparent;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: calc(100% - 10px);
        border : 1px solid #8a3cfd;
        border-radius: 10px;
      }
      .slider::before,
      .slider::after {
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        content: "";
        height: 200px;
        position: absolute;
        width: 200px;
        z-index: 2;
      }
      .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      .slider::before {
        left: 0;
        top: 0;
      }
      .slider .slide-track {
        animation: scroll 20s linear infinite;
        display: flex;
        width: calc(250px * 10);
      }
      .slider .slide {
        height: 100px;
        width: 250px;
      }
      
      .slider img {
        padding: 0px;
      }

      #projects {
        padding-bottom: 30px;
      }

      .socials {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        bottom: 0;
      }

      .social {
        margin: 0 10px;
        width: 40px;
        height: auto;
      }

      .experience {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 20px 0;
      }

      .project-exp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
      }

      .circle {
        background-color: #8a3cfd;
        border-radius: 50%;
        padding: 5px 3px;
        margin: 0 4px;
      }
}


  